.jumbotron, h1 {
  color: red;
}

input,
select,
textarea {
    max-width: 280px;
}

button {
  margin-top: 20px;
}

.background {
  height: 100%;
  width: 100%;
}

.jumbotron {
  margin-top: 50px;
}
